<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>メンバー管理</title>
    <link rel="stylesheet" href="../css/member.css">

    <!--here combine with tableRowClassName can offer each row different color-->
    <style>
        .el-table .warning-row {
            /*background: oldlace;*/
            background: #999999;
        }

        .el-table .success-row {
            /*background: #f0f9eb;*/
            background: #CCCCCC;
        }
    </style>


</head>
<body>
<div id="app">
    <h1 class="title">メンバー管理</h1>

    <el-form :inline="true" :model="member" class="query-top-form" size="mini">

        <el-form-item label="名前" class="label">
            <el-input v-model="member.name" placeholder="Name" class="queryCondition"></el-input>
        </el-form-item>

        <el-form-item label="性別" class="label">
            <el-select v-model="member.gender" placeholder="Gender" class="queryCondition" clearable>
                <el-option label="男" value="男"></el-option>
                <el-option label="女" value="女"></el-option>
            </el-select>
        </el-form-item>

        <el-form-item label="年齢" :rules="rules" class="label"
                      :rules="rules">

                <el-form-item  prop="ageMin" class="ageSpace">
                    <el-input v-model="member.age" placeholder="Age Min" />
                </el-form-item>
                <!--here is for a center ~ -->
                <span class="ageTO">~&nbsp&nbsp</span>
                <el-form-item prop="ageMax" class="ageSpace">
                    <el-input v-model="member.ageMax" placeholder="Age Max"/>
                </el-form-item>
        </el-form-item>

        <el-form-item>
            <el-button type="primary" @click="querySubmit">Query</el-button>
        </el-form-item>
    </el-form>

    <template>
        <el-table
                :data="tableData"
                style="width: 100%"
                :row-class-name="tableRowClassName"
                @selection-change="handleSelectionChange">
            <el-table-column
                    type="selection"
                    align="center"
                    width="55">
            </el-table-column>
            <el-table-column
                    label="番号"
                    align="center"
                    type="index"
                    width="50">
            </el-table-column>
            <el-table-column
                    prop="name"
                    label="名前"
                    align="center"
            >
            </el-table-column>
            <el-table-column
                    prop="gender"
                    label="性別"
                    align="center"
            >
            </el-table-column>
            <el-table-column
                    prop="age"
                    label="年齢"
                    align="center"
            >
            </el-table-column>
            <el-table-column
                    prop="tel"
                    label="携帯番号"
                    align="center">
            </el-table-column>

            <el-table-column
                    prop="address"
                    label="住所"
                    align="center">
            </el-table-column>

            <el-table-column

                    label="操作"
                    align="center">

                <template slot-scope="scope">
                    <el-row>
                        <el-button type="primary" @click="startEditForm(scope.row)">Edit</el-button>
                    </el-row>
                </template>

            </el-table-column>
        </el-table>
    </template>

    <div style="margin: 20px;"></div>
    <el-pagination
            @size-change="handleSizeChange"
            @current-change="handleCurrentChange"
            :current-page.sync="currentPage"
            :page-sizes="[5,10,15,30,50]"
            :page-size="10"
            layout="total, sizes, prev, pager, next, jumper"
            :total="totalCount">

    </el-pagination>

    <div class="bottom-form-div" >
    <el-form ref="editMember" :inline="true" :model="editMember" size="mini">

        <el-form-item label="名前" prop="name" class="info">
            <el-input v-model="editMember.name" placeholder="Name"></el-input>
        </el-form-item>

        <el-form-item label="性別" prop="gender" class="info">
            <el-select v-model="editMember.gender" placeholder="Gender" clearable>
                <el-option label="男" value="男" ></el-option>
                <el-option label="女" value="女"></el-option>
            </el-select>
        </el-form-item>

        <el-form-item label="年齢" prop="age" class="info">
            <el-input v-model="editMember.age" placeholder="Age"></el-input>
        </el-form-item>
        <br>

        <el-form-item label="携帯番号" prop="tel" class="info">
            <el-input v-model="editMember.tel" placeholder="Phone Number"></el-input>
        </el-form-item>

        <el-form-item label="住所" prop="address" class="info">
            <el-input v-model="editMember.address" placeholder="Address"></el-input>
        </el-form-item>
        <br>
        <el-form-item>
            <el-button type="primary" class="bottomBtn" @click="submitEdit">更新する</el-button>
        </el-form-item>
        <el-form-item>
            <el-button type="primary" class="bottomBtn" onclick="backToMenu()">メニュー画面に戻る</el-button>
        </el-form-item>

    </el-form>
    </div>

</div>

<script src="../js/Vue.js"></script>
<script src="../element-ui/lib/index.js"></script>
<link rel="stylesheet" href="../element-ui/lib/theme-chalk/index.css">
<script src="../js/axios-0.18.0.js"></script>
<script type="text/javascript" src="../js/jquery.min.js"></script>

<script>


    function backToMenu(){
        window.location.href="../index.html"
    }


    new Vue({
        el: "#app",
        created(){
            // this.forEmptyPage()
        },
        methods: {

            getAll(){
                // axios.get("/members").then((resp)=>{
                //     this.tableData = resp.data.data//the first data is result class, the second is data in result
                // })

                axios.post("/members/"+this.currentPage+"/"+this.pageSize,this.member).then(resp => {
                    //结果处理1，先判断查到数据没有，让提示框弹出
                    this.totalCount = resp.data.data.totalCount;
                    /**
                     * 必须用一个局部变量ifZero来做判断条件，否则this.totalCount全局变量
                     * 在新的查询结果还没出来的时候，就能被读取旧的值，从而跳一次旧值的提示框
                     * 且只在查询的第一页显示时弹出提示框，要把当前页码页带入
                     */
                    let ifZero = this.totalCount;

                    if (ifZero > 0 && this.everyTimePress === 1){
                        this.$message.success("查询成功，结果如下")

                    }else if (ifZero === 0 && this.everyTimePress === 1) {
                        // this.$message.info("未查询到满足条件的成员，请重新查询")//two ways writing here
                        this.$message({
                            message:'未查询到满足条件的成员，请重新查询',
                            type:'info'
                        })
                        // this.forEmptyPage();
                    }
                    //结果处理2，这一句放这里，尽量让弹出框先出
                    this.tableData = resp.data.data.memberRowsInPage;//{ memberRowsInPage : [], totalCount : int }

                    //这个加1，确保除了摁下query键的查询会弹框，选择分页的查询不弹
                    this.everyTimePress += 1
                })
            },

            // forEmptyPage(){
            //     for (let i = 0; i < this.pageSize; i++) {
            //         this.table.tableData[i]=this.tableData.push(this.emptyRow)
            //     }
            // },

            querySubmit(){

                if ("" === this.member.name && "" === this.member.gender && "" === this.member.age
                    && "" === this.member.ageMax){
                    this.$message.error("请至少输入一个条件进行查询");
                }else {
                    //每次按下query键将页面这个参数值设置为1
                    this.currentPage = 1
                    this.everyTimePress = 1
                    this.getAll();
                }
            },

            /*年龄框共通认证，尚未实现*/
            validateCom(rule, value, callback) {
                const num = Number(value);
                if (Number.isInteger(num)) {
                    if (num < this.MIN_AGE) {
                        return callback(new Error(`输入值必须大于${this.MIN_AGE}`));
                    } else if (num > this.MAX_AGE) {
                        return callback(new Error(`输入值必须小于${this.MAX_AGE}`));
                    }
                    return callback();
                }
                return callback(new Error('输入值必须为正整数'));
            },
            /*年龄框分别认证，尚未实现*/
            validateMin(rule, value, callback) {
                const num = Number(value);
                const max = Number(this.member.ageMax);
                if (!max || num < max) {
                    return callback();
                }
                return callback(new Error('输入值不得大于最大阈值'));
            },
            validateMax(rule, value, callback) {
                const num = Number(value);
                const min = Number(this.member.ageMin);
                if (!min || num > min) {
                    return callback();
                }
                return callback(new Error('输入值不得小于最小阈值'));
            },


            startEditForm(row) {
                axios.get("/members/"+row.id).then((res)=>{
                    if (res.data.code === 20041){
                        this.editMember = res.data.data

                    }else {
                        this.$message.error(res.data.msg)
                    }
                })
            },
            resetEditForm() {
                    this.$refs.editMember.resetFields();
            },
            submitEdit(){
                axios.put("/members",this.editMember).then((res) => {
                    if (res.data.code === 20031){
                        //清空表单
                        this.resetEditForm()

                        this.$message.success("Addition succeed.")
                    }else if (res.data.code === 20030){
                        this.$message.error("Addition failed.")
                    }else {
                        this.$message.error(res.data.msg)
                    }
                }).finally(()=>{
                    this.getAll()
                })
            },

            /* change the color of each row, combine with style at head part*/
            tableRowClassName({row, rowIndex}) {
                if ((rowIndex - 1) % 4 === 0) {
                    return 'warning-row';
                } else if ((rowIndex - 3) % 4 === 0) {
                    return 'success-row';
                }
                return '';
            },

            //分页
            handleSizeChange(val) {
                // console.log(`每页 ${val} 条`);

                //重新设置当每页显示的条数
                this.pageSize=val;
                this.getAll();
            },
            handleCurrentChange(val) {
                // console.log(`当前页: ${val}`);

                //重新设置当前页码
                this.currentPage=val;
                this.getAll();

            },

        },

        data() {
            return{
                /*for pagination ,here are all initial value*/
                currentPage: 1,
                totalCount : 0,
                pageSize : 10,

                /*用这个变量来控制，只有点击query键的查询才弹出提示框，点页码的查询不弹*/
                everyTimePress:1,

                MIN_AGE:20,
                MAX_AGE:70,

                <!--this can put in rules but not here: { required: true, message: '必填项，请维护', trigger: 'blur' },-->
                rules:{
                        ageMin: [
                                 { validator: this.validateCom, trigger:'blur' },
                                    { validator: this.validateMin, trigger: 'blur' },],
                        ageMax: [
                                { validator: this.validateCom, trigger: 'blur' },
                                 { validator: this.validateMax, trigger: 'blur' },]
                         },

                /*for multi select box, the selected member and their ids */
                multiSelection:[],
                selectedIds:[],


                member: {
                    id: '',
                    name: '',
                    gender: '',
                    age: '',
                    ageMax:'',
                    tel: '',
                    address: ''
                },

                // memberForCondition:{
                //     name:'',
                //     gender:'',
                //     age:'',
                //     ageMax:''
                // },

                editMember: {
                    id: '',
                    name: '',
                    gender: '',
                    age: '',
                    ageMax:'',
                    tel: '',
                    address: ''
                },

                // emptyRow:{
                //     name: '',
                //     gender: '',
                //     age: '',
                //     tel: '',
                //     address: ''
                // },

                tableData: [
                // {
                //     name: '',
                //     gender: '',
                //     age: '',
                //     tel: '',
                //     address: ''
                // },
                // {
                //     name: '',
                //     gender: '',
                //     age: '',
                //     tel: '',
                //     address: ''
                // },
                // {
                //     name: '',
                //     gender: '',
                //     age: '',
                //     tel: '',
                //     address: ''
                // },
                // {
                //     name: '',
                //     gender: '',
                //     age: '',
                //     tel: '',
                //     address: ''
                // },
                // {
                //     name: '',
                //     gender: '',
                //     age: '',
                //     tel: '',
                //     address: ''
                // },
                // {
                //     name: '',
                //     gender: '',
                //     age: '',
                //     tel: '',
                //     address: ''
                // },
                //
                // {
                //     name: '',
                //     gender: '',
                //     age: '',
                //     tel: '',
                //     address: ''
                // },
                // {
                //     name: '',
                //     gender: '',
                //     age: '',
                //     tel: '',
                //     address: ''
                // },
                // {
                //     name: '',
                //     gender: '',
                //     age: '',
                //     tel: '',
                //     address: ''
                // },
                //
                // {//for example
                //     name: '赵钱孙',
                //     gender: '男',
                //     age: '30',
                //     tel: '4006185000',
                //     address: '东京上野1-2-3 101'
                // },

                ]
            }
        }
    })
</script>
</body>
</html>