
/*#menu{*/
/*    width: 98%;*/
/*    margin-left: 1%;*/
/*    display: flex;*/
/*    height: 900px;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    background-color: rgba(75, 81, 95, 0.3);*/
/*    box-shadow: 7px 7px 17px rgba(52, 56, 66, 0.5);*/
/*    border-radius: 5px;*/
/*}*/

html{
    height: 100%;
    width: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
    background: url(../imgs/background05.jpeg) no-repeat 0px 0px;
    background-size: auto ;
}

button:hover{
    background-color: rgba(130, 155, 254, .7);
}

.left{
    width: 220px;
    height: 80px;
    border-color: cornsilk;
    background-color: rgba(100, 135, 254, .7);
    color: aliceblue;
    border-style: hidden;
    border-radius: 5px;
    margin-left: 400px;
    font-size: 25px;
    text-align: left;
    cursor: pointer;
}

.right{
    width: 220px;
    height: 80px;
    border-color: cornsilk;
    background-color: rgba(100, 135, 254, .7);
    color: aliceblue;
    border-style: hidden;
    border-radius: 5px;
    margin-left: 200px;
    font-size: 25px;
    text-align: left;
    cursor: pointer;
}

.title{
    text-align: center;
    margin-top: 180px;
    color: aliceblue;
}


