html{
    height: 100%;
    width: 100%;
    overflow: auto;
    margin: 0;
    padding: 0;
    background-color: slategray;
}


.title{
    text-align: center;
}

.label{
    font-weight: bold;
}
.queryCondition{
    font-weight: bold;
    width: 90px;
}
.ageTO{
    color: dimgray;
    font-weight: bold;

}
.ageSpace{
    width: 80px;
}

.bottom-form-div{
    text-align: right;
}

.info{
    /*text-align: right;*/
    display: inline-flex;
    width: 180px;
    text-align-last: left;
    font-weight: bold;
}
.bottomBtn{
    width: 180px;
}



